body {
    font-family: Arial, sans-serif;
    background-color: #b27c7c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: rgb(143, 69, 69);;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    
}

.form-container h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

.form-container h1 {
    text-align: center;
    color: #ffffff;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.form-group input, 
.form-group select {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007bff;
    outline: none;
}

.form-group .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px 15px;
    background: #b27c7c;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background: rgb(143, 69, 69);
}

.success-message {
    display: none;
    margin-top: 20px;
    color: green;
    font-weight: bold;
    text-align: center;
}